.container {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-left: auto;
    margin-right: auto;

    color: black;
    /* background-color: ;
    background-image: ; */
    font-family: Georgia;
    
    width: 450px;
    height: 450px;
    max-width: 600px;
    min-width: 250px;
    max-height: 600px;
    min-height: 250px;

    border: 2px solid silver;
    border-radius: 5px;
    padding: 50px;
}

h1 {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 5%;
    transform: translate(-50%, -50%);

    font-size: 30px;
}

input {
    border-radius: 7px;
    color: #333333;
    border: 1px solid #e6e6e6;
    padding: 5px 7px;
}


[for="fname"] {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 20%;
    transform: translate(-50%, -50%);
}

#fname {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 25%;
    transform: translate(-50%, -50%);
}

[for="lname"] {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 30%;
    transform: translate(-50%, -50%);
}

#lname {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 35%;
    transform: translate(-50%, -50%);
}

[for="email"] {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 40%;
    transform: translate(-50%, -50%);
}

#email {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 45%;
    transform: translate(-50%, -50%);
}

[for="phone_num"] {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

#phone_num {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 55%;
    transform: translate(-50%, -50%);
}

[for="username"] {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 60%;
    transform: translate(-50%, -50%);
}

#username {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 65%;
    transform: translate(-50%, -50%);
}

[for="password"] {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 70%;
    transform: translate(-50%, -50%);
}

#password {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 75%;
    transform: translate(-50%, -50%);
}

[for="backtrack"] {
    position: absolute;
    left: 7%;
}

[type="submit"] {
    font-size: 17px;
    font-weight: 100px bold;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 1px 10px;
}

[type="submit"]:hover {
    background-color: #c6c6c6;
    border-color: #c6c6c6;
}

[for="proceed"] {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 90%;
    transform: translate(-50%, -50%);

    color: #e6e6e6;
    background-color: #466995;

    font-size: 25px;
    font-weight: 100px bold;

    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 5px 60px;
}

[for="proceed"]:hover {
    background-color: #465a95;
    border-color: #465a95;
}