.hotel-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 590px;
}

.hotel-search h1 {
    margin: 2em 0;
}

form .group {
    display: flex;
    justify-content: space-between;
}

form .group div {
    display: flex;
    flex-direction: column;
}

.start, .end {
    width: 200%;
}

label {
    display: block;
    font-size: small;
    margin-left: 0.5em;
}

fieldset {
    max-width: 70%;
    margin-left: 0.5em;
}

fieldset label {
    display: inline;
    margin-left: auto;
}

input, select {
    margin: 0.5em;
    padding: 0.2em 1em;
}

.submission {
    display: flex;
    justify-content: center;
}

#submit {
    margin: 2em 0;
    padding: 0.5em 5em;
    letter-spacing: 1px;
}

#submit:hover {
    background-color: #e2dfdf;
    cursor: pointer;
}