* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-left: auto;
    margin-right: auto;

    color: black;
    /* background-color: ;
    background-image: ; */
    font-family: Georgia;
    
    width: 450px;
    height: 450px;
    max-width: 600px;
    min-width: 250px;
    max-height: 600px;
    min-height: 250px;

    border: 2px solid silver;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 15%;
    transform: translate(-50%, -50%);

    font-size: 35px;   
}

/* label {
    
} */

/* input {
    
} */

[for="username"] {
text-align: center;
    display: inline-block;
    position: fixed;
    top: 30%;
    transform: translate(-50%, -50%);

}

#username {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 40%;
    transform: translate(-50%, -50%);

    border-radius: 7px;
    color: #333333;
    border: 1px solid #e6e6e6;
    padding: 12px 22px;
}

[for="password"] {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

#password {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 60%;
    transform: translate(-50%, -50%);

    border-radius: 7px;
    color: #333333;
    border: 1px solid #e6e6e6;
    padding: 12px 22px;
}

[type="submit"] {
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 80%;
    transform: translate(-50%, -50%);

    color: #e6e6e6;
    background-color: navy;

    font-size: 20px;
    font-weight: 100px bold;

    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 12px 80px;
}

[type="submit"]:hover {
    background-color: #00145d;
    border-color: #00145d;
}