span {
    color: red;
}

.book-reservation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 590px;
}

h1 {
    margin: 2em;
}

label {
   display: block;
   font-size: small;
   margin-left: 0.5em;
}

form div {
    display: flex;
    align-items: space-between;
    flex-direction: column;
}

input, select {
    margin: 0.5em;
    padding: 0.2em 1em;
}

#submit {
    padding: 0.5em 6em;
    margin: 3em 0;
    letter-spacing: 1px;
    cursor: pointer;
}