<!DOCTYPE html>
<html>
<head>
  <title>Show Hotels</title>
</head>

<body>
  <h1>Search hotels:</h1>
  <form method="post">
    <label for="in_year">Start Date (YYYY/MM/DD):</label><br>
    <input type="int" id="in_year" name="in_year">
    <input type="int" id="in_month" name="in_month">
    <input type="int" id="in_day" name="in_day">
    <br>
    <label for="out_year">End Date (YYYY/MM/DD):</label><br>
    <input type="int" id="out_year" name="out_year">
    <input type="int" id="out_month" name="out_month">
    <input type="int" id="out_day" name="out_day">
    <br><br>
    <label for="num_rooms">Number of Desired Rooms:</label>
    <input type="int" id="num_rooms" name="num_rooms">
    <br><br>
    <label for="room_type">Desired Room Type:</label>
    <select name="room_type" id="room_type">
      <option value="Standard">Standard</option>
      <option value="Queen">Queen</option>
      <option value="King">King</option>
    </select>
    <br>
    <input type="submit" value="Find my hotels">
  </form>

</body>
</html>
