<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link href='style.css' rel='stylesheet'>
</head>
<body>

<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
     {% endfor %}
  {% endif %}
{% endwith %} -->

<h1>Log in here.</h1>
<form method="post">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br><br>

  <input type="submit" value="Submit">
</form>

</body>
</html>