<!DOCTYPE html>
<html>
<head>
<title>Make Reservation</title>
</head>
<body>

<h1>Book your Reservation!</h1>
<form method="post">
  <label for="sdate">Check-In Date:</label><br>
  <input type="date" id="sdate" name="sdate"><br><br>

  <label for="edate">Check-Out Date:</label><br>
  <input type="date" id="edate" name="edate"><br><br>

  <label for="">Room Type:</label><br>
  <select id="roomType" name="roomType">
      <option value="Standard">Standard</option>
      <option value="Queen">Queen</option>
      <option value="King">King</option>
  </select>

  <input type="submit" value="Submit">
</form>

</body>
</html>