<!DOCTYPE html>
<html>
<head>
  <title>Confirm Reservation</title>
</head>

<body>
  <h1>Confirm your Reservation!</h1>
  <div id="reservation_info">
    Reservation (id: {{res.index}}) for {{res.hotel_info.name}}<br>
    In date: {{res.in_date_string}}<br>
    Out date: {{res.out_date_string}}<br>
    Room type: {{res.room_type_reserved}}<br>
    Num rooms: {{res.num_rooms_reserved}}<br>
    Price: ${{res.price}}<br>
  </div>
  <div id="reservation_confirm_buttons">
    <form method="post">
      <input type="submit" id="edit_reservation" name="edit_reservation" value="Edit">
      <input type="submit" id="confirm_reservation" name="confirm_reservation" value="Confirm">
    </form>
  </div>
</body>
</html>
