<!DOCTYPE html>
<html>
<head>
  <title>Reservations</title>
</head>

<body>
  <form method="post">
    {% if user %}
      <input type="submit" id="logout" name="logout" value="Logout">
    {% else %}
      <input type="submit" id="login" name="login" value="Login">
    {% endif %}
    <input type="submit" id="home" name="home" value="Home">
  </form>

  <h1>Reservations{% if user.admin_status %} (Admin view) {% endif %}</h1>
  <div>
    {% if reservations|length >= 1 %}
      {% for reservation in reservations %}
        <div>
          <p>
            <li><b>{% if reservation.is_past %}Past{% else %}Future{% endif %}</b> Reservation (id: {{ reservation.index }}) for {{ reservation.hotel_info.name }}</li>
            <li>Starts: {{ reservation.in_date_string }}</li>
            <li>Ends: {{ reservation.out_date_string }}</li>

            {% if user.admin_status or not reservation.is_past %}
              <form method="post">
                <input type="submit" id="{{reservation.index}}-cancel" name="{{reservation.index}}-cancel" value={% if user.admin_status %} "Delete" {% else %} "Cancel?" {% endif %}>
              </form>
            {%endif%}

          </p>
        </div>
      {% endfor %}
    {% else %}
      You have no reservations - book today!
    {%endif%}
  </div>
</body>
</html>
